    body{background-color:rgb(184, 255, 255);}
    h1{text-align: center;text-size-adjust: 30;}
    h2{text-align: center;}
    .img{text-align: center;width: 666px; height: 600px;margin-left: 620px;}